/SM-24/AnalogOut.mat filter=lfs diff=lfs merge=lfs -text
/SM-24/Input.mat filter=lfs diff=lfs merge=lfs -text
/SM-24/NoisyIn.mat filter=lfs diff=lfs merge=lfs -text
/SM-24/slprj/raccel/AnalogCircuit.mat filter=lfs diff=lfs merge=lfs -text
/SM-24/slprj/raccel/AnalogOut.mat filter=lfs diff=lfs merge=lfs -text
/SM-24/slprj/raccel/Input.mat filter=lfs diff=lfs merge=lfs -text
/SM-24/slprj/raccel/NoisyIn.mat filter=lfs diff=lfs merge=lfs -text
/InterfazCircuitoAnalogico/scope_20260420_074449.log filter=lfs diff=lfs merge=lfs -text
/InterfazCircuitoAnalogico/scope_20260420_074525.log filter=lfs diff=lfs merge=lfs -text
/InterfazCircuitoAnalogico/scope_20260420_074609.log filter=lfs diff=lfs merge=lfs -text
/InterfazCircuitoAnalogico/scope_20260420_190751.log filter=lfs diff=lfs merge=lfs -text
/InterfazCircuitoAnalogico/scope_20260420_191909.log filter=lfs diff=lfs merge=lfs -text
/InterfazCircuitoAnalogico/scope_20260420_200756.log filter=lfs diff=lfs merge=lfs -text
/InterfazCircuitoAnalogicoSimple/datos/MFB_DigitalFilterLPF.mat filter=lfs diff=lfs merge=lfs -text
/InterfazCircuitoAnalogicoSimple/logs/scope_20260510_205132.log filter=lfs diff=lfs merge=lfs -text
